

.feedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 650px;
  margin: auto;
}

.sharedText {
  margin: 0.5rem 0;
  font-size: 0.95rem;
  color: #050505;
}