@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.postCard {
  background: #ffffff;
  border: 1px solid #e4e6eb;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.feedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 650px;
  margin: auto;
  padding: 1rem;
}

.sharedText {
  margin: 0.5rem 0;
  font-size: 0.95rem;
  color: #050505;
}