@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.mainContainer {
    height: 100svh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(197, 31, 31); /* Navbar color */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures navbar stays on top of all elements */
}

/* Logo Styling */
.logo {
    border-radius: 10rem;
}

.logo img {
    height: 40px;
    width: auto;
}

/* Container for links */
.navLinks {
    display: flex;
}

/* Styling for links */
.navLink {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: rgb(182, 182, 182);
}

.blogsContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    border: solid;
    margin-top: 5rem;
}

@media (max-width: 1000px) {

}

@media (max-width: 850px) {

}

@media (max-width: 600px) {

}

@media (max-width: 450px) {

}



