/* index.module.css */

/* Custom container style for layout */
.customLayoutContainer {
    display: flex;
    height: 85lvh;
    margin-top: -1rem;
}

.chatWindowHidden {
    display: block; /* Show on mobile by default */
}
  

/* Custom sidebar style */
.customSidebar {
    width: 300px; /* Fixed width for the sidebar */
    background-color: #f4f4f4;
    padding: 1rem;
}

/* Custom chat window style */
.customChatWindow {
    flex-grow: 1; /* Take the remaining space */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent overflow */
}

@media (max-width: 780px) {
    /* Hide ChatSidebar on mobile */
    .chatSidebarHidden {
      display: none;
    }
  
    /* Show ChatWindow on mobile */
    .chatWindowHidden {
      display: block;
    }
}
  