@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow-x: hidden;
}

.pageContent {
  margin-top: 4rem;
  max-width: 1000px;
  width: 100%;
  border: solid;
  display: flex;
  overflow-x: auto;
  gap: 5rem;
}

