@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ======= Base Layout ======= */
.page {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 98svw;
  overflow-x: hidden;
  padding-top: 3rem;
}



/* ======= Page Content (right side) ======= */
.pageContent {
  min-width: 0; /* prevents overflowing into horizontal scroll */
  margin-top: 3rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  overflow-x: hidden;
  max-height: 89.5svh;
}

.pageContent::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}


/* ======= Section Wrapper ======= */
.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3rem;
}

.sectionAlbums {
  margin-bottom: 7rem; /* Adjust as needed */
}


/* ======= Section Header ======= */
.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionHeader h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #7c7c7c;
  margin: 0;
}

.showAllBtn {
  font-size: 0.95rem;
  font-weight: 600;
  color: #c00;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.showAllBtn:hover {
  color: #900;
}

/* ======= Carousel Wrapper ======= */

@media (max-width: 768px) {
  .sectionHeader h2 {
    font-size: 1.4rem;
  }

  .showAllBtn {
    font-size: 0.9rem;
  }

  .section {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .sectionHeader h2 {
    font-size: 1.3rem;
  }

  .showAllBtn {
    align-self: flex-end;
  }
}
