.recordControls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    background: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 94.1svh;
    background: #f9f9f9;
}

.recordButton {
    background: red;
    color: white;
    font-size: 40px;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease, transform 0.2s ease;
}

.recordButton:hover {
    background: darkred;
    transform: scale(1.1);
}

.stopButton {
    background: gray;
    color: white;
    font-size: 40px;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease, transform 0.2s ease;
}

.stopButton:hover {
    background: darkgray;
    transform: scale(1.1);
}

.saveButton {
    background: green;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.saveButton:hover {
    background: darkgreen;
}

.discardButton {
    background: red;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.discardButton:hover {
    background: darkred;
}
