.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(197, 31, 31); /* Navbar color */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000; /* Ensures navbar stays on top of all elements */
}

/* Logo Styling */
.logo {
    border-radius: 10rem;
}

.logo img {
    height: 40px;
    width: auto;
}

/* Container for links */
.navLinks {
    display: flex;
    align-items: center;
}

.navLinks1 {
    display: none;
}

/* Styling for links */
.navLink {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: rgb(182, 182, 182);
}

.burger {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    z-index: 11;
}

/* The 3 bars */
.burger span {
    display: block;
    width: 2rem;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 3px;
    transition: 0.3s ease;
}

.headerIcon {
  padding: 0;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 100%;
  font-size: 1.3rem;
  cursor: pointer;
  margin-right: 1rem;
}

.notificationWrapper {
  position: relative;
  display: inline-block;
}

.unreadBadge {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: red;
  color: white;
  font-size: 9px;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 999px;
  line-height: 1;
}


@media (max-width: 600px) {
    .navLinks1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navLinks {
        display: none;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 80%;
        height: auto;
    }
}