.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(197, 31, 31); /* Navbar color */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures navbar stays on top of all elements */
}

/* Logo Styling */
.logo {
    border-radius: 10rem;
}

.logo img {
    height: 40px;
    width: auto;
}

/* Container for links */
.navLinks {
    display: flex;
}

/* Styling for links */
.navLink {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: rgb(182, 182, 182);
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    z-index: 11;
}

/* The 3 bars */
.burger span {
    display: block;
    width: 2rem;
    height: 4px;
    background-color: white;
    margin: 3px 0;
    border-radius: 3px;
    transition: 0.3s ease;
}


@media (max-width: 600px) {
    .burger {
        display: flex;
    }

    .navLinks {
        display: none;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 80%;
        height: auto;
    }
}