.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    width: 100%;
    background: linear-gradient(to right, #da2f1c, #f17050);
    padding: 1rem;
}

.menu {
    width: 100%;
    max-width: 24rem;
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Fade-in animation */
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menuHeader {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #757575;
}

.menuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.menuList a {
    margin-bottom: 1rem;
    background: #c93929;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    
    /* Smooth transition effect */
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.8s ease-out forwards;
    animation-delay: 0.2s;
}

.menuList a:hover {
    background: #be2f1f;
    transform: scale(1.05);
}
